#titulo{
    text-align:center;
    margin: 0 auto;
    font-size: 30px;
    font-style: oblique;

}
#marco{

    background-color: darkgray;
    border: black solid 2px;
    width: 145px;
    margin: 0 auto;

}
.inputtext{

        font-style: oblique;
        margin: 10px;
        width: 115px;
        font-size: 10px;
        
}
.boton{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    font-size: 15px;
    
}
#resultado{

    text-align:center;
    font-style: oblique;
    font-size: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}